.progress {
    height: 100vh;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    grid-template-rows: repeat(auto-fit, minmax(200px, 250px));
    align-content: center;
}

.input-row {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 15px;
    margin: 0 auto;
}

.input-row__item {
    width: 100%;
    max-width: 50vw;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-items: flex-start;
    align-items: center;
}

.switch {
    cursor: pointer;
    text-indent: -9999px;
    width: 40px;
    height: 26px;
    background: #E0E6EF;
    display: block;
    border-radius: 100px;
    position: relative;
}

.switch:after {
    content: '';
    position: absolute;
    top: 2px;
    left: 2px;
    width: 22px;
    height: 22px;
    background: #fff;
    border-radius: 90px;
    transition: 0.3s;
}

input:checked+.switch {
    background: #005BFF;
}

input:checked+.switch:after {
    left: calc(100% - 2px);
    transform: translateX(-100%);
}

.switch:active:after {
    width: 40px;
}

input[type=checkbox] {
    height: 0;
    width: 0;
    display: none;
}

input[type=number] {
    width: 28px;
    height: 15px;
    border-radius: 100px;
    border: solid #000 1px;
    padding: 5px;
}

.caption {
    font-family: sans-serif;
    font-weight: 700;
}